name: Android Build

on:
  workflow_dispatch:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    # यहाँ मैंने फोल्डर का रास्ता (working-directory) जोड़ दिया है
    - name: Grant Execute Permission to Gradlew
      working-directory: ./NewBlackbox-main/NewBlackbox-main
      run: chmod +x gradlew

    # यहाँ भी रास्ता बताया है ताकि वह सही जगह बिल्ड करे
    - name: Build Debug APK
      working-directory: ./NewBlackbox-main/NewBlackbox-main
      run: ./gradlew assembleDebug --stacktrace

    # APK ढूँढने का रास्ता भी बदल दिया है
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Built-APK
        path: NewBlackbox-main/NewBlackbox-main/app/build/outputs/apk/debug/*.apk
        
